
/* BEGIN Meyer Reset ...qq */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END Reset -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

/* BEGIN General Style */
body {
  background-color: #0E313F;
}
main {
  width: 800px;
  margin: auto;
  background-color: #F2E9DE;
  margin-bottom: 22px;
}
a{
color: #0E313F;
}
/* END General Style */

/* BEGIN Header Code*/
header{
    width: 800px;
    height: 350px;
    background-image: url(../images/metal-movable-type.jpg);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
h1{
  width: 750px;
  height: 340px;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 8.5em;
  line-height: 1.1em;
  color: white;
  font-family: 'Source Serif Pro', serif;
}
/*list various h1 background colors:*/
#home h1{
  background-color: rgba(175,25,120,.7);
}
#past h1{
  background-color: rgba(3,195,235,.7);
}
#present h1{
  background-color: rgba(219,81,32,.7);
}
#future h1{
  background-color: rgba(152,193,42,.7);
}
#references h1{
  background-color: rgba(127,127,127,.7);
}
/* END Header Code*/

/* BEGIN Two-Column Code */
.column {
  vertical-align: top;
  position: relative;
  display: inline-block;
}
article{
  margin-left: 30px;
  width: 530px;
  margin-right: 40px;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.1em;
  line-height: 1em;
}
hr{
  height: 1px;
  border: 0px;
}
/*List various colors*/
#home hr{
  background-color: #C12F8A;
}
#past hr{
  background-color: #03C3EB;
}
#present hr{
  background-color: #DB5120;
}
#future hr{
  background-color: #98C12A;
}
#references hr{
  background-color: #7F7F7F;
}
h3{
	border-top: 10px;
	border-bottom: 10px;
	font-size: 1.5em;
	line-height: 1.75em;
  font-family: 'Source Sans Pro', sans-serif;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
	margin-bottom: 20px;
}
img {
	width: 530px;
	margin-bottom: 10px;
}
nav{
  margin-right: 25px;
  width: 170px;
  height: 340px;
  padding-top: 40px;
  background-color: #0E313F;
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
}
/* Below selects current page indicator in nav w/o having to create multiple CSS sheets*/
#home nav li section{
  width: 150px;
  height: 40px;
  color: rgb(222,88,175);
  background-color: #F2E9DE;
  padding-top: 20px;
  padding-left: 20px;
}
#past nav li section{
  width: 150px;
  height: 40px;
  color: #03C3EB;
  background-color: #F2E9DE;
  padding-top: 20px;
  padding-left: 20px;
}
#present nav li section{
  width: 150px;
  height: 40px;
  color: #DB5120;
  background-color: #F2E9DE;
  padding-top: 20px;
  padding-left: 20px;
}
#future nav li section{
  width: 150px;
  height: 40px;
  color: #98C12A;
  background-color: #F2E9DE;
  padding-top: 20px;
  padding-left: 20px;
}
#references nav li section{
  width: 150px;
  height: 40px;
  color: #7F7F7F;
  background-color: #F2E9DE;
  padding-top: 20px;
  padding-left: 20px;
}
/* Below selects actual link indicators in nav*/
nav ul li a{
  display: block;
    width: 150px;
    height: 40px;
    background-color: #0E313F;
    color: #F2E9DE;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
}
nav ul li a:visited{
  color: #F2E9DE;
  background-color: #0E313F;
}
nav ul li a:focus{
  color: #0E313F;
  background-color: #F2E9DE;
}
nav ul li a:hover{
  color: #0E313F;
  background-color: #F2E9DE;
}
nav ul li a:active{
  color: #0E313F;
  background-color: #F2E9DE;
}
/* END Two-Column Code */

/* BEGIN Footer Code*/
footer{
  width: 750px;
  height: 10px;
  margin: auto;
  background-color: #F2E9DE;
  padding: 25px;
  text-align: center;
  color: #0E313F;
  font-size: .85em;
}
footer a{
  color: #0E313F;
}
/* END Footer Code*/
