/* ------START CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ------end css reset-----*/


/* ------START STRUCTURAL STYLES-----*/

.wrapper {
  width: 1024px;
  margin: auto;
}

.columns {
  position: relative;
}


/* ------end structural styles-----*/


/* ------START HEADER STYLES-----*/

header {
  background-color: #000;
}

h1 {
  letter-spacing: 14px;
  font-variant: small-caps;
  color: white;
}

byline {
  color: #e2a1ca;
}


/* ------end header styles-----*/


/* ------START ARTICLE STYLES-----*/

.posts {
  width: 768px;
  background-color: #dbdbdb;
}

h2 {
  font-variant: small-caps;
}

h3 {
  font-size: 10px;
}


/* ------end article styles-----*/


/* ------START NAV STYLES-----*/

.index {
  width: 256px;
  background-color: #e2a1ca;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}


/* ------end nav styles-----*/


/* ------START FOOTER STYLES-----*/

footer {
  clear: both;
  background-color: #000;
}


/* ------end footer styles-----*/


/*SPACING ADJUSTMENTS*/

/*add padding to header, posts and footer sections*/

/*give the nav a healthy margin*/

/*add space after each article element except the last*/

/*add space after the date (h3)*/

/*add space after "Index of Posts" (h4)*/

/*give links in nav a bigger line height*/


/*STYLE LINKS*/

/*style links in nav and footer*/


/*IMAGES*/

/*add images*/

/*give a width to all images*/

/*give images a bottom margin*/
