body{
  font-family: 'Roboto', sans-serif;
}

section{
  width: 800px;
  margin: auto;
}

h1 {
  color: teal;
}

ul {
  font-family: Verdana;
  list-style: none;
}

a {
  text-decoration: none;
  color: teal;
}

h6{
  margin: 0px;
}
