/* CSS for Tara Parker-Essig's Desgin 117 Final Project: Responsive Portfolio, Due December 5th 2016 */

/* BEGIN CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* END CSS RESET */

/* BEGIN CUSTOM STYLE */

/* BEGIN STRUCTURAL STYLE ~~~~~~~~~~~~~~~~~~~ */

body {
  background: #87BFFF;
  line-height: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #221E22;
}


/* BEGIN HEADER STYLE ~~~~~~~~~~~~~~~~~~~ */

header {
  background: #ffffff;
  width: 65%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
}

#name {
  margin-left: 2%;
  font-size: 22px;
  line-height: 18px;
}

#tagline {
  font-size: 12px;
  line-height: 14px;
}

/*Change Font Size for screens smaller than 1024px*/
@media (max-width: 1024px){
  #name {
    margin-left: 2%;
    font-size: 18px;
    line-height: 12px;
  }

  #tagline {
    font-size: 10px;
    line-height: 12px;
  }
}

#name a:link {
  text-decoration: none;
  color: #221E22;
}

#name a:visited{
  text-decoration: none;
  color: #221E22;
}

#name a:hover{
  text-decoration: none;
  color: #F06449;
}

#name a:focus{
  text-decoration: none;
  color: #F06449;
}

#name a:active{
  text-decoration: none;
  color: #F06449;
}

nav {
  width: 200px;
  margin: auto;
  margin-right: 2%;
}

nav ul {
  display: flex;
}

nav li {
  width: auto;
  margin: auto;
}

li a:link {
  text-decoration: none;
  color: #221E22;
}

li a:visited {
  text-decoration: none;
  color: #221E22;
}

li a:hover {
  text-decoration: none;
  color: #F06449;
}

li a:focus {
  text-decoration: none;
  color: #F06449;
}

li a:active {
  text-decoration: none;
  color: #F06449;
}

/* BEGIN MAIN CONTENT STYLE ~~~~~~~~~~~~~~~~~~~ */

main {
  background: #ffffff;
  width: 65%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 5px;
}

article {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
}

.project-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2%;
  background: rgba(240, 99, 71, 0.8);
}

img {
  width: 100%;
}

a:hover .project-title {
  background: rgba(240, 99, 71, 0.1);
}

h2 {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-shadow: 1px 1px 8px #221E22;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  text-shadow: 1px 1px 8px #221E22;
  text-align: center;
}

/*Change Font Size for screens smaller than 724px*/
@media (max-width: 724px){
  h2 {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }

  h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }
}

/*Change Font Size for screens smaller than 590px*/
@media (max-width: 590px){
  h2 {
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }

  h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }
}

/*Change Font Size for screens smaller than 440px*/
@media (max-width: 440px){
  h2 {
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }

  h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }
}

/*Change Font Size for screens smaller than 340px*/
@media (max-width: 340px){
  h2 {
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }

  h1 {
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-shadow: 1px 1px 8px #221E22;
    text-align: center;
  }
}

/* BEGIN FOOTER STYLE ~~~~~~~~~~~~~~~~~~~ */

footer {
  background: #ffffff;
  width: 65%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer ul {
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
}

footer li {
  width: auto;
  margin: auto;
  font-size: 12px;
}

/*Footer li a are essentially the same as top nav li a, so no need to repeat.*/
