/* START CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END CSS RESET */


/* START CUSTOM STYLE CODE */

/* START STRUCTURAL STYLES */
body {
  line-height: 1.3;
  background: #e3e3e3;
  font-family: tahoma, sans-serif;
  color: #333;

.page {
  background: #fff;
  display: table;
  width: 65%;
  margin: auto;
  max-width: 800px; /*1024 or 1280 are good max-widths depending on what or who you are designing for*/
}
/*The above styles will render when the viewport width is larger than 800px (this is an arbitrary breakpoint Patrice made up for this example, she'd probably use 1024 for a tablet)*/

/*The following styles will render when the viewport has a maximum width of 800 px (when the viewport is smaller than 800 px)...*/

@media (max-width: 800px) {
  .page {
    width: 90%;
  }
}

.col {
  display: table-cell;
  width: 48%;
  padding-right: 4%;
}

.col:last-child{
  padding: 0;
}

article {
  padding: 4%;
  font-size: .8em;
}

/* end structural styles */


/* START HEADER STYLES */

h1 {
  background-color: #0d5631;
  margin-top: -6px;
  height: 100px;
  line-height: 100px;
  padding-left: 4%;
  font-family: 'Droid Serif', serif;
  color: white;
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

/*The following styling will apply when the viewport has a maximum width of 480 pixels...*/

@media (max-width: 480px) {
  .col {
    width: 100%;
    display: block;
  }

  h1 {
    font-size: 1.3em;
    height: 50px;
    line-height: 50px;
  }
}

img {
  width: 100%;
}

/* end header styles */


/* START FOOTER STYLES */

footer {
  background-color: #0d5631;
  height: 100px;
  line-height: 100px;
  padding-left: 4%;
  color: white;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover, a:active {
  color: #777;
  text-decoration: none;
}

/* end footer styles */
